## EDA Notebook

In [3]:
import pandas as pd

In [4]:
results = pd.read_csv('../data/results.csv')

In [5]:
results['SeasonID']==1

,SeasonID,Gameweek,MatchID,HomeTeamID,HomeScore,HomeShots,AwayTeamID,AwayScore,AwayShots
0,1,1,1,7,1,17,1,1,12
1,1,1,2,6,1,8,8,3,17
2,1,1,3,5,5,21,9,1,7
3,1,1,4,4,2,25,10,0,8
4,1,1,5,3,3,13,11,3,19
...,...,...,...,...,...,...,...,...,...
1507,2,54,1508,10,0,10,19,6,19
1508,2,54,1509,11,5,22,18,2,13
1509,2,54,1510,12,3,13,17,3,17
1510,2,54,1511,13,5,29,16,1,9
1511,2,54,1512,14,0,6,15,2,24